@model Restaurant_Model.RecoverModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RecoverPassword</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="~/Assets/CSS/login.css" rel="stylesheet" />
</head>
<body class="text-center">

    @using (Html.BeginForm("RecoverPassword", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin" }))
    {
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        <label class="sr-only">User Name</label>
        @Html.TextBoxFor(m => m.UserName, new { placeholder = "User Name", @class = "form-control" })

        <label class="sr-only">Email</label>
        @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "form-control" })

        @Html.Hidden("ReturnUrl")
        @Html.AntiForgeryToken()

        <button class="btn btn-lg btn-primary btn-block" type="submit">Recover Pass</button>
        @Html.ValidationSummary(false)
    }
</body>
</html>
